/* Variable Color */
$primary-color: #0a0a13;
$title-color: #95a5a6   ;
$flat-blue: #74b9ff;

/* Font */
@font-face {
    font-family: "TitanOne";
    src: url("/fonts/TitanOne-Regular.ttf") format("ttf"),
   }
$font-stack: "TitanOne", sans-serif;
/*Animate*/
@keyframes typing {
    from {
      width: 0;
    }
    to {
        border-color: $flat-blue; 
    }
  }    
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
/**/ 
* { 
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family: $font-stack;
    &::-ms-scrollbar {
        display: none !important;
      }
    &::-webkit-scrollbar {
      display: none;
    }
    &::-moz-scrollbar {
      display: none !important;
    }
    margin: 0;
  }
/**/
body {
    display: flex;
    flex-direction: column;
    background: $primary-color;
}
select {
    display: flex;
    flex-direction: row;
}
h1.title-subject{
    color: $title-color;
    margin-left: 5vh;
    font-size: 3em;
}
.fade_in{
    transform: translateX(-10%);
    transition:opacity 2s linear,transform 4s;
    opacity:0;
}
.appear{
    transform: translateX(0);
    opacity:1;
}
.fade_in_right{
    transform: translateX(3%);
    transition:opacity 4s linear,transform 4s;
    opacity:0;
}
.appear_right{
    transform: translateX(0);
    opacity:1;
}

//Block
section {
    display: table;
}
section.start_page {
    width: 100%;
    height: 100vh;
    header{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-top: 1%;
        .logo{
            height:50%;
            display: flex;
            flex: left;
            margin-left: 1%;
        }
        a {
            padding: auto;
            height: 30%;
            margin: 0px 50px 0px 0px;
            font-size: 1.5em;
            font-weight: bold;
            color: white;
            text-decoration: none;
        }
        div.social_link {
            padding: 0.8%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-content: center   ;
            a::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: $title-color;
                transition: width .3s;
            }
            a:hover::after{
                width: 20%;
            }
        }
    }
    main {
        padding-top: 30vh;
        color: white;
        text-align: center;
        h1.intro {
            font-size: 4em;
            margin-bottom: 0px;
            display: inline-block;
            text-align: center;
            width: 15em;
            animation: typing 5s steps(28), blink .5s step-end infinite alternate;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid; 
        }
        h2.intro{
            font-size: 2em;
            font-style : italic;
        }
        span.name {
            color: $flat-blue;  
        }
    }
}


section.about_me{
    height: 80vh;
    color: white;
    div.about{
        display: grid;
        margin: 5%;
        grid-template-rows: repeat(2,1fr);
    }
    .contain_about {
        margin-left: 15vh;
        display: flex;
        flex-direction: row;
    }
    .contain_text_about{
        margin-bottom: 2%;
        h2.about{
            font-size: 2.5em;
        }
        .text-about{
            margin-bottom: 15px;
            width: 80%;
            font-size: 1.5em;
            font-style: italic;
        }  
    }
    div.img_me{
        //display: none;
        margin-left: calc(100% / 20);
        img{
            width: 90%;
            height: 80%;
            border-radius: 10% 20% 10% 30%; 
        }
    }
    .fade_in{
        transform: translateX(-20px);
        transition:visibility 2s linear,opacity 2s linear,transform 4s;
        visibility: hidden;
        opacity:0;
    }
    .appear{
        transform: translateX(20px);
        visibility: visible;
        opacity:1;
    }
}

.download{
    width: 5%;
    height: 13%;
    margin-left: 30%;
    padding: 0.4em;
    text-align: center;
    background-color: $flat-blue;
    font-size:1em;
    text-decoration: none;
    color: white;
    border-radius: 2ch;
}
.download:hover{
    background-color: #95a5a6;
}

section.skill {
    height: 100vh;
    color: white;
    display: grid;
    grid-template-rows: auto;
    :not(h1) {
        margin-left: 5%;
    }
    h2.title-skill {
        font-size: 2em;
        font-style : italic;
    }
    div.skill-contain {
        display: flex;
        
        div.skill-item {
            width: 10%;
            height: 75%;
            color: $flat-blue;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
        }
    }

}

section.work {
    color: white;
    .contain_work{
        .div_work{
            display: grid;
            grid-template-rows: auto;
            margin: 5% 4%;
            .h2_work{
                margin: 2%;
                font-size: 2em;
                font-weight: bold;
            }
            a {
                width: auto;
                height: auto;
                text-decoration: none;
                color: white;
            }
            .description {
                margin-left: 5vh;
                color: $flat-blue;
                font-size: 1.8em;
                font-family: $font-stack;
            }
            img {
                margin: 2%;
                border-radius: 5%;
                filter: grayscale(0);
                transition: filter 2s;
            }
            img:hover { filter: grayscale(1); }
        }
        .div_work:nth-child(2n) {   
            text-align: right;
            .h2_work {margin-right: 5vh;}
            .description { margin-right: 5vh;}
        }
    }
}

section.contact_me{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: right;
    h1.title_subject {
        margin: 5%;
    }
    .contain_contact{
        margin-top: 30vh;
        margin-right: 15vh;
    }
    .text_contact{
        margin-right: none;
        font-weight: bold;
        font-size: 1.8em;
    }
    .email{
        color: $flat-blue;
        margin-right: 15vh;
        font-weight: bold;
        font-size: 1.8em;
    }
}
footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    color:$title-color;
    font-size: x-small;
    letter-spacing:-1px;
}